.primary-info {
    // background-color: tomato;
    // height: 15%;
    margin: 0.25rem 0 1rem;
}

.text-name {
    color: #333;
    margin-bottom: -0.25rem;
    font-family: 'glegoobold';
    font-size: 24px;
}

.text-title-company {
    color: #333;
    font-size: 14px;
}

.text-detail {
    color: #575757;
    font-size: 14px;
}

.list-logo img {
    margin-right: 0;
}